
@{
    ViewBag.Title = "Members";
}
@using Library.Data.Model;
@model List<Member>

<h2>Members</h2>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Tc</th>
            <th>Phone</th>
            <th>Date of Registration</th>
            <th>Punishment</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
        <tr>
            <td>@member.Name</td>
            <td>@member.Surname</td>
            <td>@member.TcNo</td>
            <td>@member.PhoneNum</td>
            <td>@member.RegTime</td>
            <td>@member.Punishment</td>
            <td><a href="@Url.Action("Update","Member", new { memberId = member.Id})" class="btn btn-custom">Update</a></td>
            <td><button class="deleteMember btn btn-danger" value="@member.Id">Delete</button></td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Tc</th>
            <th>Tel</th>
            <th>Date of Registration</th>
            <th>Punishment</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </tfoot>
</table>

